:root {
    --background-color-sooty: #141414;
    --background-color-card: #1f1f1f;
    --background-color-button: #333333;
    --color: #FFFFFF;
    --color-grey: #b4b4b4;
    --color-green: #c2dc54;
}


* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background-color-sooty);
}




/* Lart-Settings */

.card-section {
    background-color: var(--background-color-card);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 300px;
}



/* Image and Paragraph Start */

.picture {
    display: flex;
    justify-content: center;
}

.woman {
    border-radius: 50%;
    overflow: hidden;
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
}

.name {
    color: var(--color);
    font-size: 22px;
    font-weight: 600;
}

.london {
    color: var(--color-green);
    font-size: 11px;
    font-weight: 600;
}

.developer {
    display: flex;
    justify-content: center;
    color: var(--color-grey);
    font-size: 13px;
}

.writing-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.name-country {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* Image and Paragraph End */


/* Button-Start */

.social-media {
    margin-top: 25px;
}

.button {
    color: var(--color);
    border-radius: 12px;
    background-color: var(--background-color-button);
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 50px;
    font-size: 14px;
    border: none;
    padding: 17px;
    margin-bottom: 15px;
    align-items: center;
    font-weight: 600;
}

.social-media .button:hover {
    background-color: #111111; /* Üzerine gelindiğinde arka plan rengi değişir */
    color: #ffffff; /* Üzerine gelindiğinde metin rengi değişir */
}

/* Button-End */